.gradient-custom-3 {
    background: linear-gradient(to right, rgba(242, 242, 245, 0.5), rgba(27, 71, 247, 0.5))
}    
.gradient-custom-4 {
    background: linear-gradient(to right, rgba(52, 168, 235,1), rgba(52, 55, 235,1))
}

.btn{
    color: #eee;
}

.form-control, .btn, .card{
    border-radius: 0;
}