
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford Otosan</title>
    <link rel="stylesheet" href="~/Anket/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">   
</head>

<style>
    a {
        text-decoration:none;
    }
</style>
<body>
    <div class="topnav" id="myTopnav">
        <img src="~/Anket/image/Ford_Otosan_logo.svg.png" alt="logo" width="250px" height="40px">
        <a href="/Home/Logout"  style="transition:all 0.4s linear;" class="nav-link" id="cikisyap"><is class="fa-solid fa-right-from-bracket"></is>
        
        @if (Session["CH_KUL_ADI"] != null )
            {
                @Session["CH_KUL_ADI"].ToString()
            }
        
        </a>
        <a href="/AnketOlustur/Index" style="transition:all 0.4s linear;" class="nav-link" @if (ViewBag.Yetki != true) {<text> hidden </text>}><i class="fa-solid fa-circle-plus"></i>     Anket Oluştur</a>
        <a href="/Anketler/Index" style="transition:all 0.4s linear;" class="nav-link"><i class="fa-solid fa-clipboard-list"></i>   Anketler</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div style="height:;">
        @RenderBody()
    </div>

    <!--<div class="footer">
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
            <!-- Copyright -->
            <!--<div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
            </div>-->
            <!-- Copyright -->
            <!-- Right -->
            <!--<div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>-->
            <!-- Right -->
        <!--</div>
    </div>-->


    
    <script src="~/Anket/script.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
